parameters:
  level: 6
  paths:
    - ./
  excludePaths:
    # @see https://github.com/mglaman/drupal-check/issues/261#issuecomment-1030141772/
    - vendor
    - '*/node_modules/*'
  ignoreErrors:
    # This is how drupal works....
    - '#Unsafe usage of new static\(\).#'

